table {
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #d4d4d4;
  }
   
  tr:nth-child(even) {
    background: #d4d4d4;
  }
   
  th, td {
    padding: 5px 20px;
  }
   
  th {
    border-bottom: 1px solid #d4d4d4;
  } 